version: '3.3'

services:
  postgres:
    image: postgres:15-alpine
    container_name: dashboard-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: FSg8HiQ4QyqG1L1b
      POSTGRES_DB: dashboardDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dashboard-app
    environment:
      DATABASE_URL: postgres://admin:FSg8HiQ4QyqG1L1b@postgres:5432/dashboardDB
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    restart: always

volumes:
  postgres_data:
